@import url(https://github.com/Ya2bedev/FutWEB/blob/master/font/kizard.otf);

.navbar-nav > .nav-item > .nav-link {
	color: #ff6e31;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(img/Background.png);
	/* Full height */
	height: 100vh;
	width: 100%;
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
}
/* ====STYLE BACKGROUND ON PAGE ABOUT US */
.BG-ABOUT {
	background: none;
	background-image: url(img/ABOUT_BG.png);
	/* Full height */
	height: 100vh;
	width: 100%;
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*====STYLE  BACKGROUND ON PAGE MENU */
.MENU_BG {
	background: none;
	background-image: url(img/MENU_BG.png);
	/* Full height */
	height: 100vh;
	width: 100%;
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.GRADIENT-ON {
	font-size: 3rem;
	font-family: kizard;
	text-align: center;
	text-transform: uppercase;
	color: transparent;
	-webkit-background-clip: text;
	background-image: -webkit-linear-gradient(
		to left,
		#880ce0c7,
		#e6072c
	); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(
		to left,
		#880ce0c7,
		#e6072c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*====STYLE  BACKGROUND ON PAGE MORE */
.color-change-3x {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	animation: color-change-3x 4s linear infinite alternate both;
}

/*
 * ----------------------------------------
 * animation color-change-3x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-3x {
	0% {
		background: #19dcea;
	}

	50% {
		background: #b22cff;
	}

	100% {
		background: #ea2222;
	}
}

@keyframes color-change-3x {
	0% {
		background: #19dcea;
	}

	50% {
		background: #b22cff;
	}

	100% {
		background: #ea2222;
	}
}
/* ===Button SEE MORE ON PAGE ABOUT US */
.BTN_see_more {
	background: #ff6e31;
	color: #fff;
}
/*=====FORM LIGIN ON PAGE HOME*/
.divider-text {
	position: relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.divider-text:after {
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

.btn-facebook {
	background-color: #405d9d;
	color: #fff;
}

.btn-twitter {
	background-color: #42aeec;
	color: #fff;
}

/*====SOCIAL MEDIA ICON ON PAGE ABOUT US*/
.social-link {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
	background: rgb(199, 199, 199);
	text-decoration: none;
	color: rgb(31, 87, 254);
}

/*=====ServiceCARD And CAROUSEL MENU CARD (BLUR-menu)*/
.ServiceCARD,
.BLUR-menu {
	backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

/*=====ServiceSHADOW */
.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px);
		transform: translateZ(50px);
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}
}

@keyframes shadow-drop-2-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px);
		transform: translateZ(50px);
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}
}
/*=====STYLE SHADOW ON CAMPUS CARD */
.shadow-drop-2-bottom {
	-webkit-animation: shadow-drop-2-bottom 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*
 * ----------------------------------------
 * animation shadow-drop-2-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-bottom {
	0% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px) translateY(-12px);
		transform: translateZ(50px) translateY(-12px);
		-webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
		box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
	}
}

@keyframes shadow-drop-2-bottom {
	0% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px) translateY(-12px);
		transform: translateZ(50px) translateY(-12px);
		-webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
		box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
	}
}

/*=====CARDS_WRAPPER MENU */
.M-Col {
	margin: 0.75rem;
}

@media (max-width: 767px) {
	.carousel-inner .carousel-item > div {
		display: none;
	}

	.carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}
@media (min-width: 768px) {
	.carousel-inner .carousel-item-end.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}

	.carousel-inner .carousel-item-start.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
	transform: translateX(0);
}

/*=====HOVER CARD SERVICE ON PAGE MORE*/
.HOCARD {
	transition: all 0.4s;
}
.HOCARD:hover {
	transform: scale(1.1);
}
/* === HOVER CARD MENU*/
.HCmenu {
	transition: all 0.4s;
}
.HCmenu:hover {
	background-color: #fffbf5;
	color: #181d31;
}

/* MENU LIST ITEMS*/
