@import url(https://github.com/Ya2bedev/FutWEB/blob/master/font/kizard.otf);

.navbar-nav > .nav-item > .nav-link {
	color: #ff6e31;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body_home {
	background-image: url(img/Background.png);
	/* Full height */
	height: 100vh;
	width: 100%;
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
}
/* ====STYLE BACKGROUND ON PAGE ABOUT US */
.BG-ABOUT {
	background-image: url(img/ABOUT_BG.png);
	/* Full height */
	height: 100vh;
	width: 100%;
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/* =========NAVBARVIGATION=========== */

/*====STYLE  BACKGROUND ON PAGE MENU */
.BG_MENU {
	background-color: #181d31;
}

/*====STYLE  BACKGROUND ON PAGE MORE */
.color-change-3x {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	animation: color-change-3x 4s linear infinite alternate both;
}
@-webkit-keyframes color-change-3x {
	0% {
		background: #19dcea;
	}

	50% {
		background: #b22cff;
	}

	100% {
		background: #ea2222;
	}
}

@keyframes color-change-3x {
	0% {
		background: #19dcea;
	}

	50% {
		background: #b22cff;
	}

	100% {
		background: #ea2222;
	}
}
/* ===Button SEE MORE ON PAGE ABOUT US */
.BTN_see_more {
	background: #ff6e31;
	color: #fff;
}
/*=====FORM LIGIN ON PAGE HOME*/
.divider-text {
	position: relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.divider-text:after {
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

.btn-facebook {
	background-color: #405d9d;
	color: #fff;
}

.btn-twitter {
	background-color: #42aeec;
	color: #fff;
}

/*====SOCIAL MEDIA ICON ON PAGE ABOUT US*/
.social-link {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
	background: rgb(199, 199, 199);
	text-decoration: none;
	color: rgb(31, 87, 254);
}

/*=====ServiceCARD And CAROUSEL MENU CARD (BLUR-menu)*/
.ServiceCARD,
.BLUR-menu {
	backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

/*=====ServiceSHADOW */
.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes shadow-drop-2-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px);
		transform: translateZ(50px);
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}
}

@keyframes shadow-drop-2-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px);
		transform: translateZ(50px);
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}
}
/*=====STYLE SHADOW ON CAMPUS CARD */
.shadow-drop-2-bottom {
	-webkit-animation: shadow-drop-2-bottom 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes shadow-drop-2-bottom {
	0% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px) translateY(-12px);
		transform: translateZ(50px) translateY(-12px);
		-webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
		box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
	}
}

@keyframes shadow-drop-2-bottom {
	0% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(50px) translateY(-12px);
		transform: translateZ(50px) translateY(-12px);
		-webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
		box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
	}
}

/*=====HOVER CARD SERVICE ON PAGE MORE*/
.HOCARD {
	transition: all 0.4s;
}
.HOCARD:hover {
	transform: scale(1.1);
}
/* === HOVER CARD MENU*/
.HCmenu {
	transition: all 0.4s;
}
.HCmenu:hover {
	background-color: #fffbf5;
	color: #181d31;
}

/* MENU LIST ITEMS*/
/* ************************ */
.BG_SLIDE {
	display: flex;
	justify-content: center;
	align-items: center;
}
.BG_SLIDE {
	background-image: url(img/MENU_BG.png);
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn_slide {
	background-image: linear-gradient(#f8763e, #f8425c);
	border: none;
	box-shadow: 0 0.8rem 3rem rgba(255, 67, 34, 0.5) !important;
	transition: 0.4s ease-in;
}
.btn_slide:focus {
	outline: none !important;
	box-shadow: none !important;
	box-shadow: none !important;
	background-image: none !important;
	background-color: white !important;
	border: 1px solid red;
	color: red;
}
.btn_slide:hover {
	box-shadow: none !important;
	background-image: none !important;
	background-color: white !important;
	border: 1px solid red !important;
	color: red !important;
}
.btn_slide-primary {
	color: #fff;
	background-color: white !important;
	border-color: white !important;
}
input:focus {
	outline: none !important;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@media (max-width: 575.98px) {
	.imgHero {
		transform: translateX(0%) !important;
		transform: translateY(-28%) !important;
		height: 100%;
		padding-right: 20px;
		padding-left: 20px;
	}
	.card_slide {
		width: 100% !important;
		height: 60% !important;
	}
	.buttonCard {
		padding-left: 4%;
		padding-right: 4%;
	}
	.imgSec {
		height: 100% !important;
	}
}
@media (max-width: 767.98px) {
	.imgHero {
		transform: translateX(0%) !important;
		transform: translateY(-28%) !important;
		height: 35%;
	}
	.card_slide {
		width: 100% !important;
	}
}
@media (max-width: 991.98px) {
	.imgHero {
		height: 100%;
		justify-content: center;
	}
	.card_slide {
		width: 100% !important;
	}
}
/* ======= LIST MENU ====== */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
	--font1: 'Heebo', sans-serif;
	--font2: 'Fira Sans Extra Condensed', sans-serif;
	--font3: 'Roboto', sans-serif;
}

.MAIN_LIST {
	max-width: 1200px;
}
.card_list {
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.card_list h5 {
	overflow: hidden;
	height: 56px;
	font-weight: 900;
	font-size: 1rem;
}
.card_list-img-top {
	width: 100%;
	max-height: 220px;
	object-fit: contain;
	padding: 10px;
}
.card_list h2 {
	font-size: 1rem;
}
.card_list:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.label-top {
	position: absolute;
	background-color: #8bc34a;
	color: #fff;
	top: 8px;
	right: 8px;
	padding: 5px 10px 5px 10px;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 3px;
	text-transform: uppercase;
}
.top-right {
	position: absolute;
	top: 24px;
	left: 24px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	font-size: 1rem;
	font-weight: 900;
	background: #ff5722;
	line-height: 90px;
	text-align: center;
	color: white;
}
.top-right span {
	display: inline-block;
	vertical-align: middle;
}
@media (max-width: 768px) {
	.card-img-top {
		max-height: 250px;
	}
}
.over-bg {
	background: rgba(53, 53, 53, 0.85);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	border-radius: 10px;
}
.btn_list {
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	padding: 5px 50px 5px 50px;
}
.box .btn_list {
	font-size: 1.5rem;
}
@media (max-width: 1025px) {
	.btn_list {
		padding: 5px 40px 5px 40px;
	}
}
@media (max-width: 250px) {
	.btn_list {
		padding: 5px 30px 5px 30px;
	}
}
.btn-warning {
	background: none #f7810a;
	color: #ffffff;
	fill: #ffffff;
	border: none;
	text-decoration: none;
	outline: 0;
	box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
	border-radius: 100px;
}
.btn-warning:hover {
	background: none #ff962b;
	color: #ffffff;
	box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
}
.bg-success {
	font-size: 1rem;
	background-color: #f7810a !important;
}
.bg-danger {
	font-size: 1rem;
}
.price-hp {
	font-size: 1rem;
	font-weight: 600;
	color: darkgray;
}
.amz-hp {
	font-size: 0.7rem;
	font-weight: 600;
	color: darkgray;
}
.fa-question-circle:before {
	color: darkgray;
}
.fa-plus:before {
	color: darkgray;
}
.box {
	border-radius: 1rem;
	background: #fff;
	box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.box-img {
	max-width: 300px;
}
.thumb-sec {
	max-width: 300px;
}
@media (max-width: 576px) {
	.box-img {
		max-width: 200px;
	}
	.thumb-sec {
		max-width: 200px;
	}
}
.inner-gallery {
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 1px;
	display: inline-block;
	overflow: hidden;
	-o-object-fit: cover;
	object-fit: cover;
}
@media (max-width: 370px) {
	.box .btn {
		padding: 5px 40px 5px 40px;
		font-size: 1rem;
	}
}
.disclaimer {
	font-size: 0.9rem;
	color: darkgray;
}
.related h3 {
	font-weight: 900;
}
footer {
	background: #212529;
	height: 80px;
	color: #fff;
}
/* BUTTON GO TO TOP */
#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	z-index: 98;
}
