@import url(https://github.com/Ya2bedev/FutWEB/blob/master/font/kizard.otf);
.navbar-nav > .nav-item > .nav-link {
	color: #ff6e31;
}
body {
	background-image: url(img/Background.png);
	/* Full height */
	height: 100vh;
	width: 100%;
	/* Center and scale the image nicely */

	background-repeat: no-repeat;
	background-size: cover;
}
.BG-MORE {
	background: none;
	background-image: linear-gradient(#16222a, #3a6073);
	height: 100vh;
	width: 100%;
	/* Center and scale the image nicely */

	background-repeat: no-repeat;
	background-size: cover;
}
.bg-btn-learn_more {
	background-color: #ff6e31;
	color: #fff;
}
/* FORM */
.divider-text {
	position: relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}
.divider-text:after {
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

.btn-facebook {
	background-color: #405d9d;
	color: #fff;
}
.btn-twitter {
	background-color: #42aeec;
	color: #fff;
}
/* MENU SLIDER */
.social-link {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #666;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
	background: #ddd;
	text-decoration: none;
	color: #555;
}
/* ServiceCARD */
.ServiceCARD {
	backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, 0.2);
}
